<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://localhost/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>Thymeleaf demo </title>
</head>
<body>
<div class="row" layout:fragment="content">
    <h4 class="indigo-text center">Thymeleaf demo </h4>
    <div class="row center">
        <a th:href="@{/searchPage}">SearchPage</a> 搜索返回列表页，采用POST-REDIRECT-GET测试 [th:if] [th:action] [th:each]
    </div>
    <div class="row center">
        <a th:href="@{/profile}">ProfilePage</a> 表单提交页，测试 [th:object] [th:field] [th:errors]
    </div>
</div>
</body>
</html>